/*
===============================Minor Navigation=======================================

*/
* {
    box-sizing: border-box;
}

header{
    display:flex;
    justify-content: space-between;
}

h1{
 font-size: 20px;
 color:gray;
}

#google{
    font-weight:bold;
    color:darkgray;
}


#minorNav > li{
    display:inline-block;
    margin-right: 1em;

}

#minorNav> li > a:link{
    text-decoration: none;
    color:gray;

}

/*=========================================Major Navigation=======================*/
#userInputs {
    display:flex;
    border-style:solid;
    color:lightgray;
    border-radius:2em;
    overflow: hidden;
}

#userInputs .in {
    border:none;
    padding: 4px 16px;
    border-right-style: solid;
    flex: 1 0 150px;
    min-width: 0;
}

#userInputs button {
    background: white;
    border: none;
    padding: 4px;
    flex: 0 0 75px;
    cursor: pointer;
}

#userInputs button:hover,
#userInputs button:focus {
    background: #EEE;
}

/*========================================= Title Card ====================================*/



.container{
    border:solid;
    border-color: pink;
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4px;
}
.card{
    border:solid;
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
}

.card .add {
    position: absolute;
    top: 5px;
    right: 5px;
}


/*
.title{
    border:solid;
    border-color:pink;
    display:flex;
    justify-content: space-around;
}

.fontType{
    margin-bottom:0.5em;
    font-weight: 600;
}

.author{
    margin:0;
    padding:0;
    font-weight: 300;
    color:grey;
}

.add{
    display: inline;
}
*/
/* ========================================= Footer =================================================*/
footer{
    display:flex;
    justify-content: center;
}

/* ========================================Media Queries===========================*/

@media screen and (max-width:  600px){
    #fonts{
        display:flex;
        flex-direction: column;
    }
}