/*
===============================Minor Navigation=======================================

*/
* {
    box-sizing: border-box;
}

header{
    display:flex;
    justify-content: space-between;
}

h1{
 font-size: 20px;
 color:gray;
}

#google{
    font-weight:bold;
    color:darkgray;
}


#minorNav > li{
    display:inline-block;
    margin-right: 1em;

}

#minorNav> li > a:link{
    text-decoration: none;
    color:gray;

}

/*=========================================Major Navigation=======================*/
#userInputs {
    display:flex;
    border-style:solid;
    color:lightgray;
    border-radius:2em;
    overflow: hidden;
    margin-bottom: 25px;
}

#userInputs .in {
    border:none;
    padding: 4px 16px;
    border-right-style: solid;
    flex: 1 0 150px;
    min-width: 0;
}

#dark, #light, .displayMode ,#undo {
    background: white;
    border: none;
    padding: 4px;
    flex: 0 0 2%;
    cursor: pointer;
}



#userInputs button:hover,
#userInputs button:focus {
    background: #EEE;
}

/*========================================= Title Card ====================================*/



.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
}
.card{
    border-top-style:solid;
  

    position: relative;
}

.card .add {
    position: absolute;
    top: 5px;
    right: 5px;
    color:red;
    cursor: pointer;

}




.author{
    color:darkgray;
}
/* ========================================= Footer =================================================*/
footer{
    display:flex;
    justify-content: center;
}

/* ========================================Media Queries===========================*/

@media screen and (max-width:  600px){
    .container{
        display:flex;
        flex-direction: column;
    }

    #userInputs .icon{
        display:none;
    }

}

/*======================== DARK MODE ==============================*/

.darkModeBody{
    background-color:black;
    color:white;
}